prometheus-client==0.21.0 ; python_version >= "3.9" and python_version < "4.0"
py4j==0.10.9.7 ; python_version >= "3.9" and python_version < "4.0"
pyspark==3.5.3 ; python_version >= "3.9" and python_version < "4.0"
